body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background: linear-gradient(#84c9ef,#b4d2ed,#cbbddd,#dcb5d4,#e3b1d2);
  }
  
  form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  label {
    display: block;
    margin-bottom: 30px;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: aliceblue;
    background: #ccc;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .error {
    color: #ff0000;
    margin-top: 5px;
  }
  
  /* Align labels to the left */
  label {
    text-align: left;
  }
  .checkbox-label {
    display: flex;
    align-items: left;
    margin-bottom: 15px;
    margin-left: 2px;
  }
  
  .checkbox-label input {
    margin-right: 10px;
  }
  
  .checkbox-label span {
    display: inline-block;
  }
  